#s-08a63fb5-ed78-45ca-a634-991a6117e786 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-08a63fb5-ed78-45ca-a634-991a6117e786 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}