#s-b7116aa5-bd56-458a-b89c-36fe062aa157 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b7116aa5-bd56-458a-b89c-36fe062aa157 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}